
.dropped-submenu {
    @extend .mr-auto;
    @extend .mt-2;
    @extend .mt-lg-0;
}

.navbar-nav > li {
    @extend .nav-item;
  
    & > li > a {
        @extend .nav-link;
    }
}

.navbar > .nav.flex-column > li {
    /*@extend .nav-item;*/
    @extend .list-group-item;
    @extend .list-group-item-action;
}

.navbar {
    padding: 0.5rem 0;

    li {
        &.active > a {
            color: $primary;
            margin-bottom: 15px;
            border-bottom: 1px solid $primary;
            text-decoration: none;
        }



        > a {
            &, &:hover {
                color: $secondary;
                text-decoration: none;
            }

            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
    }

    .nav.flex-column li {
        &.active {
            background-color: $primary;
            border-color: $primary;

            a {
                color: #fff;
            }
        }
    }
}