@import "variables";
@import "../../lib/jquery-typeahead/dist/jquery.typeahead.min.css";
.typehead-chevron-down i {
    position: absolute;
    right: 5px;
    top: 12px;
}

span.typeahead__cancel-button {
    right: -32px !important;
    font-size: 30px;
    top: -8px;
}


@media(max-width: 992px){
    span.typeahead__cancel-button {
    right: -9px !important;
    font-size: 30px;
    top: -40px;
}
}