@import "imports/common";
@import "imports/nav";
@import "imports/rgrid";
@import "imports/bootstrap-social";
@import "imports/print";
@import "controls/controls";
@import "pages/pages";
@import "modules/modules";
@import "shared/shared";
$footer-height: 90px;
$footer-top-margin: 30px;

// main layout
.page {
    color: $primary;
    font-style: italic;


    & {
        @include make-row();
    }

    .side-bar {
        @include make-column-lg(2);
    }

    .content {
        @include make-column-lg(10);
    }

    .content.full {
        @include make-column-lg(12);
    }

    padding-top: 14px;
}

.required-item {
    .control-label {
        padding-right: 0px;

        &:after {
            content: "*";
            color: red;
            font-size: 20px;
        }
    }
}

th.value-column {
    letter-spacing: 1px;
    //   text-align: center;
}

.value-column {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

tfoot {
    td {
        font-weight: bold;
    }
}

.r-grid-footer-row {
    .r-grid-cell {
        font-weight: bold;
    }
}

a.delete-button i {
    left: 18pc;
    position: absolute;
}

.input-group {
    float: left;
}

span.group-span-filestyle.input-group-btn {
    left: 157px;
    position: absolute;
    width: 100%;
}

form .file-upload .progress input.form-control, form .file-upload .progress *[data-control=collapsible-checkboxes] input.textbox, *[data-control=collapsible-checkboxes] form .file-upload .progress input.textbox {
    width: 155px;
}

form .horizontal-subform table thead th {
    border: none;
    display: none;
}
/*.range-input .group-control{
    left:-16px;
}*/

label.range-label {
    float: left;
}

.group-control {
    .form-check {
        padding-left: 0;
    }
}

nav.navbar.navbar-expand-md.navbar-inverse.bg-dark.sticky-top {
    padding: 0;
}

.search .buttons-row {
    .buttons {
        max-width: 99% !important;
        flex: 0 0 99% !important;
    }
}

.logo {
    img {
        height: 80px;
    }
}

legend {
    font-size: 1rem;
}

h2 {
    margin-top: 0;
}

body {
    margin-bottom: ($footer-height + $footer-top-margin);
    overflow-y: scroll;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: $primary;
    height: $footer-height;
    padding: 15px;

    p {
        padding: 5px;
        @extend .text-muted;
        color: $primary;
    }

    a, a:hover {
        color: $primary;
    }

    img {
        margin: 0 8px;
    }

    .pull-right a {
        color: $primary;
        text-decoration: underline;
    }

    .plain-text {
        text-decoration: none !important;
    }
}

.captcha-image {
    margin-top: 10px !important;
}

.captcha-image-refresh {
    i {
        margin-right: 10px;
    }
}

.typeahead__container {
    padding: 0.5rem 1rem;
}

/* Responsive Grid */
@include media-breakpoint-down(md) {
    .r-grid {
        @include make-r-grid-flex-card-view;
    }
}

@include media-breakpoint-up(lg) {
    .r-grid {
        @include make-r-grid-table-view;
    }
}

div.search {
    .form-group.row {
        .control-label {
            font-size: 1rem;
            padding-top: 5px;
        }

        .radio-list {
            padding-top: 6px;
        }

        .checkbox-list {
            padding-top: 6px;
        }

        .form-check {
            padding-left: 0px;
        }

        .form-check, .form-check-inline {
            input.form-check-input.handled {
                width: 0px;
            }

            .form-check-label {
                margin-left: 5px;
                vertical-align: top;
            }
        }
    }

    .buttons-row {
        margin-bottom: 10px;

        .buttons {
            padding-right: 0;
        }
    }

    .fa-calendar {
        padding-top: 10px !important;
        z-index: 3 !important;
    }
}

.pagination {
    padding-left: 45%;
}

.navbar {
    li {
        margin-right: 25px !important;
    }

    .logo {
        margin-right: 25px !important;
    }
}

.checkbox-helper {
    position: relative;
}


.form-group.row .group-control {
    .typeahead__container {
        padding: 0;
    }

    .form-check, .form-check-inline {
        input.form-check-input.handled {
            width: 0px;
        }

        .form-check-label {
            margin-left: 5px;
            vertical-align: top;
        }
    }

    input[type='checkbox'].handled:checked + .checkbox-helper:before {
        top: -10px;
    }

    .input-group {
        > .input-group-addon {
            padding-right: 10px;
        }

        > input + .input-group-addon {
            padding-left: 10px;
            padding-right: 0px;
        }
    }
}

.product-form {
    .form-group:not(.required-item) {
        .control-label:not(.licensed-field) {
            padding-top: 7px !important;
        }
    }

    .licensed-field {
        padding-top: 10px !important;
    }

    .readonly-field {
        .group-control {
            padding-top: 8px !important;
        }
    }
}

.input-form {
    .radio-list {
        padding-top: 5px !important;
    }

    .checkbox-helper {
        bottom: 5px !important;
    }

    .form-group:not(.required-item) {
        .control-label {
            padding-top: 7px !important;
        }
    }
}

@media (min-width: 992px) {
    .r-grid .r-grid-footer {
        display: table-row-group;

        .r-grid-footer-row {
            display: table-row;

            .r-grid-cell {
                display: table-cell;
                line-height: 1.5;
                padding: 0.75em;
                vertical-align: top;
            }
        }
    }
}

form.scrollable-list {
    .grid-wrapper {
        width: 100%;
        overflow-x: scroll;
    }
}

.grid-wrapper {
    a {
        color: $primary;
    }
}

.float-right {
    margin-left: 2px;
}

.required h3:after {
    content: "*";
    color: red;
    font-size: 20px;
}

.group-control {
    .btn:first-child {
        margin-right: 10px;
    }
}

form[data-module=ShipementDetailsPrintView], form[data-module=NCTSShipmentOutPrintDetails] {
    .view-body {
        display: flex;

        .section {
            width: 50%;
        }
    }
}

.typeahead__container.custom-cancel:not(.loading) .typeahead__cancel-button, .typeahead__label .typeahead__cancel-button {
    visibility: visible;
}

form[data-module="CommodityDetails"] .subform-item legend {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

button[data-add-subform="HealthCertificate"] {
    margin-right: -64% !important;
    margin-top: -25% !important;
}

form[data-module="NCTSShipmentOutCommodityForm"] .subform-item legend {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

form[data-module="RiseSupportTicket"] .input-group-btn {
    width: 100% !important;
}

form[data-module="RiseSupportTicket"] a.delete-button i {
    left: 32pc !important;
}

form[data-module="SupportTicketResponse"] .input-group-btn {
    width: 100% !important;
}

form[data-module="SupportTicketResponse"] a.delete-button i {
    left: 32pc !important;
}

form[data-module="CustomerRiseSupportTicket"] .input-group-btn {
    width: 100% !important;
}

form[data-module="CustomerRiseSupportTicket"] a.delete-button i {
    left: 32pc !important;
}




form[data-module="RiseSupportTicket"] button[name="AddAnother"] {
    float: right !important;
    margin-right: -74% !important;
    margin-top: -18% !important;
}

form[data-module="RiseSupportTicket"] div[data-subform="EmailCC"] input {
    width: 329px !important
}

form[data-module="CustomerRiseSupportTicket"] button[name="AddAnother"] {
    float: right !important;
    margin-right: -74% !important;
    margin-top: -18% !important;
}

form[data-module="CustomerRiseSupportTicket"] div[data-subform="EmailCC"] input {
    width: 329px !important
}

form[data-module="AdminRiseSupportTicket"] button[name="AddAnother"] {
    float: right !important;
    margin-right: -74% !important;
    margin-top: -18% !important;
}

form[data-module="AdminRiseSupportTicket"] div[data-subform="EmailCC"] input {
    width: 500px !important
}

form[data-module="AdminRiseSupportTicket"] button[name="AddAnother"] {
    float: right !important;
    margin-right: -74% !important;
    margin-top: -12% !important;
}




form[data-module="DutyCalculatorForm"] .subform-item-body {
    background-color: white !important;
}

form[data-module="DutyCalculatorForm"] .subform-delete {
    display: none;
}

form[data-module="DutyCalculatorForm"] .vertical-subform .subform-item .subform-item-body {
    flex: unset;
    max-width: unset;
}

.align-move {
    margin-left: 58.66667% !important;
}

div[data-subform="Commodities"] .col-md-12, .col-md-6 {
    padding-left: 0px !important;
}

div[data-subform="Commodities"] legend {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
}

div[data-subform="Commodities"] .move-pading {
    padding-left: 15px !important;
}

form[data-module="DutyCalculatorForm"] .btn-secondary {
    width: 140px !important;
}

div[data-subform="Commodities"] button[data-delete-subform="Commodities"] {
    width: 79px !important;
    background-color: red !important;
}

form[data-module="DutyCalculatorForm"] .buttons-row {
    float: right
}

form[data-module="DutyCalculatorForm"] .header-box button {
    float: right
}

form[data-module="DutyCalculatorForm"] .header-box > div > .estimated {
    margin-left: -12px !important;
}

form[data-module="DutyCalculatorForm"] .header-box > div > .totalvalue {
    margin-left: 24px !important;
}

form[data-module="DutyCalculatorForm"] .group-control button[name="Remove"] {
    display: none;
}

.dropdown-menu table tr td.disabled {
    color: white !important;
}


//banner
.tickerwrapper {
    /* the outer div */
    position: relative;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 23px;
    margin-left: 50px;
    margin-right: 50px;
}

ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.list li {
    float: left;
    padding-left: 20px;
}

form[data-module="AmendCC"] div[data-subform="EmailCC"] input {
    width: 329px !important
}

form[data-module="AmendCC"] a.delete-button i {
    left: 32pc !important;
}

form[data-module="CustomerRiseSupportTicketFromDashBoard"] div[data-subform="EmailCC"] input {
    width: 329px !important
}

form[data-module="CustomerRiseSupportTicketFromDashBoard"] a.delete-button i {
    left: 32pc !important;
}

form[data-module="CustomerRiseSupportTicketFromDashBoard"] button[name="AddAnother"] {
    float: right !important;
    margin-right: -74% !important;
    margin-top: -12% !important;
}

form[data-module="TaxAmountView"] .group-control {
    padding-top: 7px;
}

.wrap-text {
    word-break: break-all !important;
}

.badge {
    position: absolute;
    top: 20px;
    /* right: 34px; */
    padding: 5px 8px;
    border-radius: 50%;
    background: red;
    color: white;
    /* margin-right: 40px; */
    margin-left: -11px;
}
