form[data-module="LrnToDriverMessageForm"]  .subform-item-body{
    background:white !important;
}

form[data-module="LrnToDriverMessageForm"] a.delete-button i{
    left:0;
}

form[data-module="LrnToDriverMessageForm"] .subform-delete-wrapper{
    flex: 0 0 5% !important;
    max-width: 5% !important;
}

form[data-module="LrnToDriverMessageForm"] .subform-item-body{
    flex: 0 0 90% !important;
    max-width: 90% !important;
}