@import "../imports/variables";

form .horizontal-subform { flex: 0 0 33.33333%; max-width: 33.33333%;
    .subform-item {
        .group-control { padding-left: 10px; }
        .file-upload .bootstrap-filestyle.input-group {
            bottom: 25px;
            .group-span-filestyle.input-group-btn {
                left: 397px;
                width: 40%;
                label { 
                    height: 38px;
                    .buttonText { vertical-align: inherit; }
                }
            }
            .progress { min-width: 390px; font-size: 1rem; height: 38px;
                input[type="text"] {
                    min-width: inherit;
                }
            }
        }

        td a.delete-button i {
            left: 33pc;
        }
    }
}

@media (min-width: 992px) {
    form .horizontal-subform {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
