.search .form-group.range-input .group-control > .input-group {
    padding-right: 0;
    padding-left: 0;

    .input-group-addon {
        i.fa-calendar.fa {
            padding-top: 10px;
            font-size: 20px;
            z-index: 6;
            position: absolute;
            right: 24px;
            color: $primary;
        }
    }
}
