USE [channel.ports.Temp]
BEGIN
DECLARE @cnt INT = 1;
DECLARE @guid AS uniqueidentifier;
DECLARE @guid2 AS uniqueidentifier;

Declare @SystemName AS VARCHAR(200);
Declare @Shipment AS VARCHAR(200);
create table #ShipmentsTemp(storeID INT, ShipmentName VARCHAR(200), ProgressName VARCHAR(200))

Select * from #ShipmentsTemp

WHILE @cnt < 30

BEGIN
Set @SystemName = (SELECT TOP 1 ProgressName FROM #ShipmentsTemp WHERE storeID = @cnt)
Set @Shipment = (SELECT TOP 1 ShipmentName FROM #ShipmentsTemp WHERE storeID =  @cnt)

Set @guid = (SELECT TOP 1 Id FROM [dbo].[Progress] WHERE [SystemName] like @SystemName)
Set @guid2 = (SELECT TOP 1 Id FROM [dbo].[Shipments] WHERE [MyReferenceForCPInvoice] like @Shipment)


UPDATE [dbo].[Consignments]
  SET [Progress] = @guid where [Shipment] like @guid2


   SET @cnt = @cnt + 1;
END;
Drop TABLE #ShipmentsTemp
END;